<div class="container-fluid">
    <div class="row">
        <app-menu></app-menu>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <h2>Lista książek</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>Tytuł</th>
                        <th>Autor</th>
                        <th>Gatunki(string)</th>
                        <th>Gatunki(foreign key)</th>
                        <th>Liczba stron</th>
                        <th>Data wydania</th>
                        <th>Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let book of books">
                        <td>{{ book.isbn }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.type }}</td>
                        <td>
                            <ng-container *ngFor="let type of book.types">
                                {{ type.name }},
                                </ng-container>
                        </td>
                        <td>{{ book.pages }}</td>
                        <td>{{ book.release_date }}</td>
                        <td>
                            <app-show [id]="book.id"></app-show>
                            <app-edit [id]="book.id"></app-edit>
                            <button class="btn btn-sm btn-outline-danger" (click)="deleteBook(book.id)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <div class="btn-toolbar mb-2 mb-md-0 ml-auto">
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary"
                                (click)="openModal(template)">Add
                        </button>
                        <ng-template #template>
                            <div class="modal-header">
                                <h4 class="modal-title pull-left">Dodaj</h4>
                                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="angForm" novalidate>
                                    <div class="form-group">
                                        <label class="col-md-4">ISBN</label>
                                        <input type="text" class="form-control" formControlName="isbn" #isbn />
                                    </div>
                                    <div *ngIf="angForm.controls['isbn'].invalid && (angForm.controls['isbn'].dirty || angForm.controls['isbn'].touched)" class="alert alert-danger">
                                        <div *ngIf="angForm.controls['isbn'].errors.required">
                                            ISBN is required.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4">Tytuł</label>
                                        <input type="text" class="form-control" formControlName="title" #title/>
                                    </div>
                                    <div *ngIf="angForm.controls['title'].invalid && (angForm.controls['title'].dirty || angForm.controls['title'].touched)" class="alert alert-danger">
                                        <div *ngIf="angForm.controls['title'].errors.required">
                                            Title is required.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4">Autor</label>
                                        <input type="text" class="form-control" formControlName="author" #author/>
                                    </div>
                                    <div *ngIf="angForm.controls['author'].invalid && (angForm.controls['author'].dirty || angForm.controls['author'].touched)" class="alert alert-danger">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4">Typ</label>
                                        <input type="text" class="form-control" formControlName="type" #type/>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4">Strony</label>
                                        <input type="text" class="form-control" formControlName="pages" #pages/>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4">Data wydania</label>
                                        <input type="date" class="form-control" formControlName="release_date" #release_date/>
                                    </div>
                                    <div class="form-group">
                                        <button (click)="add(isbn.value, title.value, author.value, type.value, pages.value, release_date.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Dodaj</button>
                                    </div>
                                </form>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>